/*#widget {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

body {
    font:normal 12px/1.6667 'Helvetica Neue', Arial, sans-serif;
    margin:0;
    padding:0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: grey;
}

div{
    margin: 0px;
    padding: 0px;
    background-image: url(img/poi_info.png);
    background-repeat: no;
}

.leftDiv{
    width: 30%;
    height: 100%;
    margin: 0px;
    float: left;
    background: gray;
}

.container{
    width: 640px;
    height: 2354px;
    margin: 0 auto;
    background: rgb(204,205,205);
}

.rightDiv{
    width: 30%;
    height: 100%;
    margin: 0px;
    float: left;
    background: grey;
}

#header{
    position: absolute;
    width: 640px;
    height: 128px;
    margin: 0 auto;
    display: block;
}

#header1{
    position: absolute;
    width: 640px;
    height: 37px;
    display: block;
    background-position:0px 0px;
}


#header2{
    position: absolute;
    width: 640px;
    height: 91px;
    display: block;
    background-position:0px 37px;
}