body {
    background: grey;
}

.container{
    width: 640px;
    margin: 0 auto;
    background: rgb(246,246,246);
    font-family: "Microsoft YaHei";
}

.container small{
    font-size: 70%;
}

.container >div{
    margin-bottom: 20px;
    background: white;
}

.container a{
    text-decoration: none;
}

.container a.text{
    color: rgb(32,159,255);
}

.container .tag {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    font-size: 22px;
    color: rgb(255, 255, 255);
    border-radius: 4px;
}

.high-light{
    color: red;
}

span.h1{
    font-size: 36px;
    font-family: YouYuan;
}

span.h2{
    font-size: 32px;
}

span.h3{
    font-size: 25px;
}

span.h4{
    font-size: 21px;
}

/**
 * 基本信息
 */
.basic{
    font-size: 36px;
}

.basic-header{
    background: rgb(0,145,255);
    display: flex;
    color: white;
}

.basic-name{
    margin-left:30px;
    padding: 40px 0px 0 0;
    font-family: YouYuan;
}

.basic-name div{
    padding-bottom: 20px;
}

.basic-name span.star-grade{
    background: url("img/star.png") 0 -48px;
    width: 120px;
    height: 24px;
    display: inline-block;
}

.basic-name span.star-grade-white{
    background: url("img/star.png") 0 -72px;
    width: 96px;
    height: 24px;
    position: absolute;
}

.go-here{
    margin: auto 30px auto auto;
    padding-left: 30px;
    font-family: YouYuan;
    border-left: 1px solid white;
}

.go-here >div:first-child{
    width: 107px;
    height: 97px;
    background: url("img/go-here.png");
}

.go-here >div:last-child{
    text-align: center;
}

.basic-div{
    display: flex;
    margin-left: 30px;
    border-bottom: 1px solid rgb(221,221,221);
    padding: 20px 0px;
}

.basic-div:last-child{
    border: none;
}

.basic-div >div:first-child{
    width: 50px;
    margin: auto 0;
}

.basic-div >div:nth-child(2){
    width: 370px;
    margin: auto 50px auto auto;
}

.basic-div >div:last-child{
    width: 80px;
    margin: auto 30px auto auto;
    text-align: right;
    border-bottom: none;
}

.basic-div >div:last-child span{
    color: rgb(200,200,200);
}

.basic-png{
    width: 46px;
    height: 46px;
}

.loc-png{
    background: url("img/loc.png");
}

.tel-png{
    background: url("img/tel.png");
}

/**
 * 商店信息
 */
.shop{
}

.shop >div:last-child{
    border: none;
}

.shop-info,
.shop-benefit,
.shop-sells{
    margin-left: 30px;
    padding: 25px 0;
    border-bottom: 1px solid rgb(221,221,221);
}

.shop-info-name,
.shop-info-level{
    display: flex;
}

.shop-info-name{
    margin-bottom: 10px;
}

.shop-info-name >div:first-child{
    margin: auto 20px auto 0;
}

.shop-info-name >div:nth-child(2){
    width: 400px;
    margin: auto 0;
}

.shop-info-name >div:last-child{
    width: 150px;
    margin: auto 30px auto auto;
    text-align: right;
}

.shop-info-level >div:first-child{
    margin: auto 15px auto 0;
}

.shop-info-level >div:nth-child(2){
    width: 400px;
    margin: auto 0;
    color: rgb(150,150,150);
}

.shop-info-level >div:last-child{
    width: 150px;
    margin: auto 30px auto auto;
    text-align: center;
    color: rgb(150,150,150);
}

.shop-info-level span.level{
    background: url("img/level.png") -5px -2px;
    width: 89px;
    height: 33px;
    display: inline-block;
    margin: auto 0;
}

.shop-info-level span.percent{
    color: red;
}

.shop-info .tag-info{
    background-color: rgb(255, 85, 0);
}

.shop-benefit{
    display: flex;
}

.shop-benefit >div:first-child{
    margin: auto 20px auto 0;
}

.shop-benefit .tag-benefit{
    background-color: rgb(247, 183, 31);
}

.shop-sells{
    display: block;
}

.shop-sells >div:first-child{
    margin: 0 0 20px 0;
}

.shop-sells ul{
    margin: 0;
    padding: 0;
}

.goods-list li{
    display: inline-block;
    padding: 10px;
}

.goods-list li img,
.goods-list li span{
    display: block;
    font-size: 21px;
    color: rgb(150,150,150);
}

.goods-list li div{
    position: relative;
}

.goods-list li div span.price{
    position: absolute;
    width: 80px;
    height: 28px;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    background: rgba(122,121,119,0.8);
    border-bottom-right-radius: 5px;
}

.goods-list li div span.name{
    position: absolute;
    font-size: 14px;
    left: 15px;
    top: 15px;
    text-align: center;
    color: rgb(50,50,50);
}

.goods-list >li:nth-child(2) div span.name{
    color: rgb(113,191,0);
}

.goods-list >li:last-child div span.name{
    color: rgb(125,64,45);
}

.goods-list li:first-child{
    padding-left: 0;
}

.goods-list li:last-child{
    padding-right: 0;
}

/**
 * 评论信息
 */
.comment{
}

.comment-header{
    display: flex;
    margin-left: 30px;
    border-bottom: 1px solid rgb(221,221,221);
}

.comment-header:last-child{
    border: none;
}

.comment-header >div:first-child{
    /*width: 80%;*/
    margin: 20px 0;
}

.comment-header >div:last-child{
    /*width: 20%;*/
    margin: auto 30px auto auto;
    text-align: right;
    border-bottom: none;
}

.comment-header >div:last-child span{
    color: rgb(200,200,200);
}

.comment-main{
    padding: 20px 30px;
}

.comment-main div{
    color: rgb(120,120,120);
    margin-bottom: 20px;
    display: flex;
}

.comment-main >div:last-child{
    font-size: 21px;
    color: rgb(150,150,150);
    margin: 0;
}

.comment-main span.star-grade{
    background: url("img/star.png") 0 0;
    width: 120px;
    height: 24px;
    display: inline-block;
    margin: auto 10px;
}

.comment-main span.star-grade-red{
    background: url("img/star.png") 0 -24px;
    width: 72px;
    height: 24px;
    position: absolute;
}
